@model Cliente


@{
    ViewData["Title"] = "Detalhes";
}

<h1>@Model.Nome</h1>
<p>Data Nascimento: @Model.DataNascimento.ToShortDateString() <br /> @(Model.Pcd? "Pcd" : "")</p>

<h2>Veículos</h2>

<div class="row">
    @foreach (var item in Model.Veiculos)
    {
    <div class="col mb-2">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@item.Modelo</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.Placa?.Numero, @item.Placa?.Estado</h6>
                <p class="card-text">
                    Ano: @item.Ano
                    Data Fabricação: @item.DataFabricacao.ToShortDateString()
                    Combustível: @item.Combustivel
                </p>
                <a href="#" class="card-link">Detalhes</a>
            </div>
        </div>
    </div>
    }
</div>

<a asp-action="Index" class="btn btn-outline-primary" mt-2>Voltar</a>




