@model Cliente

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>

<msg mensagem="@TempData["msg"]"></msg>

<form asp-action="index" class="form-inline">
    <input placeholder="Digite o nome" type="text" name="nome" class="form-control mr-2 mb-2" />
    <input type="submit" value="Pesquisar" class="btn btn-success mb-2" />
</form>

<table class="table table-striped">
    <tr>
        <th>Nome</th>
        <th>Data Nascimento</th>
        <th>PCD</th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.clientes)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.DataNascimento.ToShortDateString()</td>
            <td>@(item.Pcd ? "Sim" : "Não")</td>
            <td>
                <a asp-action="detalhes" class="btn btn-sm btn-outline-info" asp-route-id="@item.ClienteId">Detalhes</a>
                <a asp-action="teste" class="btn btn-sm btn-outline-primary" asp-route-id="@item.ClienteId">Test Drive</a>
            </td>
        </tr>
    }

</table>



<h1>Cadastro de Cliente</h1>

<form asp-action="cadastrar">
    <div class="form-group">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DataNascimento"></label>
        <input asp-for="DataNascimento" class="form-control" />
    </div>
    <div class="form-group">
        <input asp-for="Pcd" />
        <label asp-for="Pcd"></label>
    </div>

    <input type="submit" class="btn btn-outline-primary" value="Cadastrar" />

</form>



